.input_container{
    color: var(--text);
    width: 200px;
    margin: 100px auto;
    font-size: large;
}

.button {
    position: relative;
    background-color: var(--btn);
    height: 2em;
    width: 4em;
    margin: 10px 4px;
    border-color: #596869;
    border: 0.5px 0.5px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: var(--text);
    display: inline-block;
    text-decoration: none;
    background-color:none;
}

.button:hover {
    background-color: var(--btn-click);
    border: none;
    color: rgb(255, 255, 255);
}

#to_register {
    height: 2em;
    width: 12em;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-2);
    color: #62a7d2;
    text-align: center;
}

#to_register:hover {
    background-color: #62a7d2;
    color: #ffffff;
}