{% extends "base.html" %}

{% block content %}
<div class="item">
    <!-- 商品列表 -->
    <section>
      <div>
        <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}" />
        <p class="item_name">物品名稱：馬克杯</p>
        <p class="item_detail">描述：九成新馬克杯</p>
        <button class="btn">可交換</button>
      </div>
      <div>
        <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}" />
        <p class="item_name">物品名稱：馬克杯</p>
        <p class="item_detail">描述：九成新馬克杯</p>
        <button class="btn">結鏢</button>
      </div>
      <div>
        <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}" />
        <p class="item_name">物品名稱：馬克杯</p>
        <p class="item_detail">描述：九成新馬克杯</p>
        <button class="btn">交換中</button>
      </div>
    </section>
    <button class="btn" onclick="location.href='/upload';">
      擴充背包
    </button>
  </div>

{% endblock %}