<!DOCTYPE html>
<html>
    <head>
        {% block styles %}
        {% endblock %}
        <link href="{{url_for('.static', filename='/styles/commonStyle.css')}}" rel="stylesheet" type="text/css">
        {% if request.path != "/login" and  request.path != "/signup" and  request.path != "/" %} 
        <title>ExChAnge</title>
        {% else %}
        <title>Login</title>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    </head>
    <body>
        <header>
            <div class="header">
              <h1 id="title">ExChAnge</h1>
            </div>

            {% if request.path != "/login" and  request.path != "/signup" and  request.path != "/" %} 
            <nav>
              <button class="btn" onclick="location.href='/homepage';" id="btn_home">
                首頁
              </button>

              <button class="btn" onclick="location.href='/about';" id="btn_about">
                關於我們
              </button>

              {% if current_user.is_authenticated %}
                <button class="btn" id="btn_backpack" onclick="location.href='/bag';">我的背包</button>
                <button class="btn" id="btn_login" onclick="location.href='/logout';">登出</button>
            {% else %}
                <button class="btn" id="btn_login" onclick="location.href='/login';">登入</button>
              {% endif %}

            </nav>
            {% endif %} 
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>