{% extends "base.html" %}

{% block content %}
<div id="body">
    <div id="homepage">
        <div class="item">
            <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}">
            <p class="item_name">物品名稱：馬克杯</p>
            <p class="item_detail">描述：九成新馬克杯</p>
            <button class="btn">我要交換</button>
        </div>
        <div class="item">
            <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}">
            <p class="item_name" >物品名稱：馬克杯</p>
            <p class="item_detail">描述：九成新馬克杯</p>
            <button class="btn">我要交換</button>
        </div>
        <div class="item">
            <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}">
            <p class="item_name">物品名稱：馬克杯</p>
            <p class="item_detail">描述：九成新馬克杯</p>
            <button class="btn">我要交換</button>
        </div>
        <div class="item">
            <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}">
            <p class="item_name">物品名稱：馬克杯</p>
            <p class="item_detail">描述：九成新馬克杯</p>
            <button class="btn">我要交換</button>
        </div>
        <div class="item">
            <img class="item_img" src="{{url_for('.static', filename='/images/sample_1.jpg')}}">
            <p class="item_name">物品名稱：馬克杯</p>
            <p class="item_detail">描述：九成新馬克杯</p>
            <button class="btn">我要交換</button>
        </div>
    </div>
</div>
{% endblock %}