{% extends "base.html" %}

{% block content %}

<div class="item">
    <section>
      {% for item in post_items %}
      <div class="item">
          <img class="item_img" src="{{url_for('.static', filename='/uploads/'+item.item_pic_filename)}}">
          <p class="item_name">{{ item.item_name }}</p>
          {% if item.item_owner_id == current_user.id %}
          <form method="GET" action="">
            <input class="btn" type="submit" name="#" value="這是我的">
          </form>
          {% else %}
          <form method="GET" action="">
            <input class="btn" type="submit" name="#" value="我要交換">
          </form>
          {% endif %}
      </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}