{% extends "base.html" %}
{% block styles %}
<link href="{{url_for('.static', filename='/styles/login.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="body">
  <div class="input_container" id="login">
    <form class="form-signin" method="POST" action="/login">
      {{ form.csrf_token }}
      <p >{{form.account.label(class="form-control-label") }} </p>
      <p >{{form.account(class="form-control form-control-lg") }} </p><br /> </label
      ><br />
      <p >{{form.password.label(class="form-control-label") }} </p>
      <p >{{form.password(class="form-control form-control-lg") }} </p><br /> </label
      ><br />
      <p>{{get_flashed_messages()[-1]}}</p>
      <div><button class="btn" id="btn_login" type="submit" value="login">登入</button></div><br /> 
    </form>
    <button id="to_register" onclick="location.href='/signup';">尚未註冊? 點此註冊</button>
  </div>
<div>
{% endblock %}