{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
<link href="{{url_for('.static', filename='/styles/form.css')}}" rel="stylesheet" >
{% endblock %}

{% block content %}
<div id="body">
  <div class="input_container">
    <form class="form-upload-item" method="POST" action="/upload">
      {{ form.csrf_token }}
      <div>
        <h2>上傳圖片</h2>
        {{ wtf.form_field(form.image) }}
        <h2>商品描述</h2>
        {{ wtf.form_field(form.name) }}
        <button class="button" id="btn_login" type="submit" value="upload">送出</button><br/>
      </div>
    </form>
  </div>
</div>
{% endblock %}