<!DOCTYPE html>
<html>
    <title>ExChAnge</title>
    <meta charset="UTF-8"/>
    <link href="../styles/homepage.css" rel="stylesheet" type="text/css">
    <link href="../styles/login.css" rel="stylesheet" type="text/css">
    <script src="../scripts/homepage.js"></script>
</html>
<body>
    <div class="container">
        <div id="title">ExChAnge</div>
        <form id="login">
            <div class="input_container">
                <label for="username">帳號</label><br/>
                <input type="text" name="username"/><br/>
                <label for="passwaord" name="password">密碼</label><br/>
                <input type="text" name="pasword"/><br/>
            </div>
            <button class="reg" type="submit">註冊</button>
            <button class="log" type="submit">登入</button>
        </form>
        <form id="register">
            <div class="input_container">
                <label for="reg_username">帳號</label><br/>
                <input type="text" name="reg_username"/><br/>
                <label for="reg_password">密碼</label><br/>
                <input type="text" name="reg_password"/><br/>
                <label for="reg_password_confirm">確認密碼</label><br/>
                <input type="text" name="reg_password_confirm"/><br/>
            </div>
            <button class="log" type="submit">登入</button>
            <button class="create" type="submit">確定</button>
        </form>
    </div>
    <script src="../scripts/login.js"></script>
</body>