<!DOCTYPE html>
<html>
    <title>Login</title>
    <link href="../styles/login.css" rel="stylesheet" >
</html>
<body>
    <div class = "logo_line">
        <div class = "logo">
            <h1>ExChAnge</h1> <!--font size-->
        </div>
        <div class = "line">
            <HR width="100%" SIZE=1>
        </div>
    </div>
    
    <div class="input_container">
        <label for="username">帳號
        <input type="text" name="username"/><br/>
        </label><br/>
        <label for="passwaord" name="password">密碼
        <input type="text" name="password"/><br/>
        </label><br/>
        <input type="submit" value="登入"/>
        <a href="register.html" style="color:red;font-size:15px;">尚未註冊? 點此註冊</a>
    </div>

    <script src="../scripts/login.js"></script>
</body>
