<!DOCTYPE html>
<html>
    <title>ExChAnge</title>
    <meta charset="UTF-8"/>
    <link href="../styles/register.css" rel="stylesheet" type="text/css">
</html>
<body>
    <div class = "logo_line">
        <div class = "logo">
            <h1>ExChAnge</h1> <!--font size-->
        </div>
        <div class = "line">
            <HR width="100%" SIZE=1>
        </div>
    </div>

    <div class="input_container">
        <label for="reg_username">帳號</label>
        <input type="text" name="reg_username"/><br/>
        <br/>
        <label for="reg_password">密碼</label>
        <input type="text" name="reg_password"/><br/>
        <br/>
        <label for="reg_password_confirm">確認密碼</label>
        <input type="text" name="reg_password_confirm"/><br/>
        <br/>
        <input type="submit" value="註冊">

    <script src="../scripts/register.js"></script>
</body>