<html>
    <head>
        <title>Upload Page</title>
        <link rel = "stylesheet" href = "uploadpage.css" />
    </head>
    <body>

        <div class = "logo_line">
            <div class = "logo">
                <h1>ExChAnge</h1> <!--font size-->
            </div>
            <div class = "line">
                <HR width="100%" SIZE=1>
            </div>
        </div>


        <div class = "imgtext">
            <div class = "image">
                <p>Upload image:</p>
                <input name="img" type="file" accept="image/gif, image/jpeg, image/png"> 
                </form>
            </div>
            <div class = "text">
                <p>Description of this item:</p>
                <input name="description" type="text">
                <input type="submit" value="submit">
            </div>
        </div>
        
        <!--<script>window.alert("成交通知");</script>-->
    </body>
</html>
