{% extends "base.html" %}

{% block content %}
<div class="item">
  <h1>關於我們</h1>
  <section>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/盧威榤.jpg')}}">
      <p class="item_name">盧威榤</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/郭品辰.jpg')}}">
      <p class="item_name">郭品辰</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/魏本憲.jpg')}}">
      <p class="item_name">魏本憲</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/林廷穎.jpg')}}">
      <p class="item_name">林廷穎</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/陳寬祐.jpg')}}">
      <p class="item_name">陳寬祐</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/陳洛翔.jpg')}}">
      <p class="item_name">陳洛翔</p>
    </div>
    <div class="item">
      <img class="item_img" src="{{url_for('.static', filename='/aboutUs/謝孟霓.jpg')}}">
      <p class="item_name">謝孟霓</p>
    </div>
  </section>
</div>
{% endblock %}